<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>Nuestros Articulos</h2>
        <a href="th:href=@{/nuevoCliente}"></a>
        <div th:if="${articulos != null and !articulos.empty}">
            <table border="1">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${articulos}">
                    <td th:text="${item.descripcion}"></td>
                    <td th:text="${#numbers.formatDecimal{item.precio,3,2}}"></td>
                    <td th:text="$@{/carrito/agregar/}+$ {item.idArticulo}">Comprar</td>

                </tr>
            </tbody>
        </table>
        </div>
        <div th:if="${articulos != null or articulos.empty}">
            La lista de clientes esta vacia
        </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>

